main
{
  padding-top: 90px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}



@media screen and (min-width:768px)
{
    main
    {
        padding-top: 70px;
       padding-bottom: 0;
    }
}


footer
{
    margin-top: 60px;
    background-color: var(--form-bg);
    text-align: center;
    padding: 20px;
    
}

.copyright
{
    font-style: italic;
    font-family: 'Croissant One', cursive;
    color: var(--gold);
    letter-spacing: 2px;
    font-weight: bold;
}

.copyright a,
.credit a
{
    color: var(--purple)
}

.disclaimer,.credit
{
    margin-top: 40px;
    letter-spacing: 1.5px;
    font-family: 'Crimson Pro', serif;
    color: var(--gold);
}

.credit a
{
    text-transform: lowercase;
}
