:root
{
   --bg:rgb(40, 40, 40);
   --purple:rgb(255, 111, 206);
   --purple-transparent:rgba(255, 111, 206,0.5); 
   --gold:rgb(250, 219, 140);
   --form-bg:rgba(137, 200, 235, 0.28);
   --blue:#4e6263;
   --nav-bg:rgb(48, 49, 49);
   --err-red:#cf6767;
   --z:10;


}


/*
font-family: 'Crimson Pro', serif;
font-family: 'Croissant One', cursive;
font-family: 'Revalia', cursive;

*/

*
{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html
{
  max-width: 100vw;
}

body 
{
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

a
{
  text-decoration: none;
  display: inline-block;
  text-transform: capitalize;
}

button
{
  outline: none;
  cursor: pointer;
  border:none;
  user-select: none;

}

input
{
  outline: none;
}

ul
{
  list-style-type: none;
}

img
{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* width */
::-webkit-scrollbar 
{
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track 
{
  background:var(--blue); 
}
 
/* Handle */
::-webkit-scrollbar-thumb 
{
  background:var(--gold); 
}
