:root
{
   --bg:#282828;
   --purple:#FF6FCE;
   --gold:#FADB8C;
   --form-bg:#89C8EB;
   --nav-bg:#303131;


}

/*
font-family: 'Crimson Pro', serif;
font-family: 'Croissant One', cursive;
font-family: 'Revalia', cursive;

*/

*
{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body 
{
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

a
{
  text-decoration: none;
  display: inline-block;
}

button
{
  outline: none;
  cursor: pointer;
  border:none;
  user-select: none;

}

ul
{
  list-style-type: none;
}

img
{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
